.fonas{
    background-color: #ffccb3;
    box-sizing: border-box;
}

.antraste{
    font-size: 30px;
    text-align: center;
    color: #990000;
    font-family: 'Times New Roman';
}

.lentele{
    border: 1px solid black;
    border-collapse: collapse;
    background-color: #ffe6b3;
    margin: auto;
    height: 80px;
}

.tekstas{
    padding: 10px;
    font-size: 20px;
    color: black;
    font-family: 'Times New Roman';
    text-decoration: none;
}

.tekstas:hover{
    font-size: 22px;
    color: #990000;
}

.nuotraukos{
    height: 270px;
    display: block;
}

td{
    width: 270px;
    max-height: 80px;
}

#names{
    background-color: #ffd480;
    color: #990000;
    font-family: 'Times New Roman';
    text-align: center;
}

#picture{
    padding: 0px;
}

.pastraipa{
    color: black;
    font-family: 'Times New Roman';
    font-size: 22px;
}

.naujas{
    font-size: 25px;
    color: #990000;
    font-family: 'Times New Roman';
}
