.over{
    background-color: rgba(26, 26, 26, 0.8);
    border: solid #8c8c8c 1px;
}

.overtext{
    font-family: arial;
    padding: 15px;
    font-size: 20px;
    color: white;
    display: inline-block;
}

.quick{
    padding: 15px;
    display: inline-block;
    overflow: hidden;
    float: right;
}

.quicktext{
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-family: arial;
}

.quicktext:hover{
    color: cornflowerblue;
    transition-duration: 0.3s;
}

.backdrop{
    background-image: url("Images/triangles.jpg");
    width: 100%;
}